extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h1 Add Expense
  form(id='add-expense-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='date') Date
      .col-md-7
        input.form-control(type='String', name='date', id='date', placeholder='2018/01/01', autofocus, required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='time') Time
      .col-md-7
        input.form-control(type='String', name='time', id='time', placeholder='12:00', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='description') Description
      .col-md-7
        input.form-control(type='String', name='description', id='description', placeholder='')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='amount') Amount
      .col-md-7
        input.form-control(type='String', name='amount', id='amount', placeholder='', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='comment') Comment
      .col-md-7
        input.form-control(type='String', name='comment', id='comment', placeholder='')
    .form-group.offset-sm-3.col-md-7.pl-2
      button.btn.btn-success(type='submit')
        | Add Expense
